// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

&pinctrl {
	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,  /* P1.09 */
					<NRF_PSEL(SPIM_MOSI, 1, 8)>,  /* P1.08 */
					<NRF_PSEL(SPIM_SCK,  0, 7)>;  /* P0.07 */
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_MOSI, 1, 8)>,
					<NRF_PSEL(SPIM_SCK,  0, 7)>;
			low-power-enable;
		};
	};
};

/ {
	model = "slimevr_custom_nrf52840";
	compatible = "nordic,nrf52840-qiaa";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	aliases {
		imu = &imu_spi;
	};

	vbatt: vbatt {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc 4>; /* AIN4 это P0.28 */
		output-ohms = <10000000>;
		full-ohms = <20000000>;
		power-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>; /* На всякий случай дублируем для стандартного драйвера Zephyr */
	};

	zephyr,user {
		/* Управление питанием периферии под твой форк */
		adc-en-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;  /* Ключ делителя АКБ P0.27 */
		ext-pwr-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>; /* Питание QMC6309 / шины P0.13 */
		vcc-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;      /* Питание ICM45686 P0.05 */
		clk-gpios = <&gpio0 12 GPIO_OPEN_DRAIN>;      /* CLK_CTL P0.12 */
		
		int0-gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; /* Прерывание гироскопа P0.26 */
		led-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;     /* Светодиод P0.15 */
	};
};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_LDO>;
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	status = "disabled";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>; /* CS P0.04 */

	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <8000000>; /* 8 МГц для стабильности SPI */
		label = "imu-spi";
		reg = <0>;
	};
};
