// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 24)>, <NRF_PSEL(TWIM_SCL, 0, 22)>;
			bias-disable;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 24)>, <NRF_PSEL(TWIM_SCL, 0, 22)>;
			bias-disable;
			low-power-enable;
		};
	};

	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 15)>;
			nordic,drive-mode = <NRF_DRIVE_D0S1>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 15)>;
			low-power-enable;
		};
	};

	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PIN_DISCONNECTED>;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PIN_DISCONNECTED>;
			low-power-enable;
		};
	};

	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_MOSI, 1, 8)>,
					<NRF_PSEL(SPIM_SCK, 0, 7)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_MOSI, 1, 8)>,
					<NRF_PSEL(SPIM_SCK, 0, 7)>;
			low-power-enable;
		};
	};
};

/ {
	model = "promicro_uf2";
	compatible = "promicro_uf2";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	aliases {
		sw0 = &button0;
		pwm-led0 = &pwm_led0;
	};

	pwmclock: pwmclock {
		compatible = "pwm-clock";
		#clock-cells = <1>;
		pwms = <&pwm1 0 PWM_HZ(32768) PWM_POLARITY_NORMAL>;
	};

	/* Имя узла СТРОГО battery_divider для battery.c */
	battery_divider: battery_divider {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc 4>; /* AIN4 — это физический пин P0.28 */
		output-ohms = <10000000>; /* Твои резисторы 10М */
		full-ohms = <20000000>;   /* 10М + 10М = 20М */
		power-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>; /* Ключ управления замером */
	};

	zephyr,user {
		vcc-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		ext-pwr-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		int0-gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		led-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		gnd-gpios = <&gpio0 20 GPIO_OPEN_DRAIN>;
		clk-gpios = <&gpio0 12 GPIO_OPEN_DRAIN>;
		/* adc-en-gpios убрали, так как теперь он в power-gpios выше */
	};

};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/* Конфигурируем канал замера для стабильности */
	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		/* 40 мкс — критично для резисторов 10М! */
		zephyr,acquisition-time = <ADC_ACQ_TIME_MICROSECONDS(40)>;
		zephyr,input-positive = <NRF_SAADC_AIN4>; 
		zephyr,resolution = <12>;
	};
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	status = "disabled"; /* Выключено, так как гироскоп на SPI */
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	max-frequency = <DT_FREQ_M(8)>; /* Снижение частоты до 8МГц убирает наводки на батарею */
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;

	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <8000000>;
		label = "imu-spi";
		reg = <0>;
	};
};
