/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

&pinctrl {
	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_MOSI, 1, 8)>,
					<NRF_PSEL(SPIM_SCK,  0, 7)>;
		};
	};
	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_MISO, 1, 9)>,
					<NRF_PSEL(SPIM_MOSI, 1, 8)>,
					<NRF_PSEL(SPIM_SCK,  0, 7)>;
			low-power-enable;
		};
	};
};

/ {
	model = "slimevr_custom_nrf52840";
	compatible = "nordic,nrf52840-qiaa";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	aliases {
		imu = &imu_spi;
	};

	/* Имя узла должно быть СТРОГО battery_divider для твоего battery.c */
	battery_divider: battery_divider {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc 4>; 
		output-ohms = <10000000>; /* Свойства должны быть с 's' на конце */
		full-ohms = <20000000>;
		power-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>; /* Код сам будет включать P0.27 перед замером */
	};

	zephyr,user {
		/* Убираем отсюда io-channels, так как код ищет их в battery_divider */
		ext-pwr-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		vcc-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		clk-gpios = <&gpio0 12 GPIO_OPEN_DRAIN>;
		int0-gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		led-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
	};
};

&adc {
	status = "okay";
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	max-frequency = <DT_FREQ_M(8)>; 
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;

	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <8000000>;
		label = "imu-spi";
		reg = <0>;
	};
};

/* Включаем всё остальное */
&gpio0 { status = "okay"; };
&gpio1 { status = "okay"; };
&usbd { status = "okay"; cdc_acm_uart0: cdc_acm_uart0 { compatible = "zephyr,cdc-acm-uart"; }; };
