&spi3 {
	status = "okay";
	max-frequency = <DT_FREQ_M(8)>; // Фикс скорости
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;

	imu_spi: imu_spi@0 {
		compatible = "vnd,spi-device";
		spi-max-frequency = <DT_FREQ_M(8)>;
		reg = <0>;
		label = "IMU";
	};
};

/ {
	zephyr,user {
		vcc-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		ext-pwr-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>; // Включаем общую линию питания
		int0-gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		adc-en-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>; // Включаем замер батареи
	};
};
